.App {
  padding: 10px 25px 0 25px;
}
.timeline {
  display: flex;
  flex-wrap: wrap;
}
.tweet {
  height: 200px;
  flex: 0 48%; /* explanation below */
  margin: 10px;
}
.date{
  margin-top: 20px;
  color: aliceblue;
}